*.log
build/
build-sanitizer/
.clangd/
.cache/
.vscode/
.idea/
cmake-build-debug/
cmake-build-release/
Testing/

compile_commands.json

# For CMake debugging
trace.txt

# Unused but reserved build directories
build-debug/
build-release/
